<style>
    div {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        text-decoration: underline;
        margin-bottom: 5px;
    }

    p:last-of-type {
        margin-top: 0px;
        margin-bottom: 25px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 2px solid black;
        text-align: left;
        padding: 12px;
    }

    th {
        font-size: 20px;
        border: 2px solid black;
        text-align: left;
        padding: 12px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div>
    <h1>Artists and Albums</h1>
    <p>Go to the <a href='/artistsForm'>New Artist Form</a> to add a new Artist to the list</p> 
    <p>Go to the <a href='/lengthForm'>Track Length Form</a> to sort the list by song length</p>
</div>

<table>
    <tr>
        <th>Artist</th>
        <th>Album</th>
    </tr>
    {{#each results}}
    <tr>
        <td>{{Artist}}</td>
        <td>{{Album}}</td>
    </tr>
    {{/each}}
</table>