<form action="/artistsForm" method="POST">
    <div>
        <label for="ArtistId">Artist Id: </label>
        <input type="text" name="artistId">
    </div>
    <div>
        <label for="Name">Name: </label>
        <input type="text" name="name">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>