<style>
    div {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        text-decoration: underline;
        margin-bottom: 5px;
    }

    p:last-of-type {
        margin-top: 0px;
        margin-bottom: 25px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 2px solid #dddddd;
        text-align: left;
        padding: 12px;
    }

    th {
        font-size: 20px;
        border: 2px solid #dddddd;
        text-align: left;
        padding: 12px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div>
    <h1>Artists and IDs</h1>
    <p>Go back to the <a href='/artistsForm'>Artists Form</a> to add a new Artist</p> 
    <p>Go back to the <a href='/albums'>Albums</a></p> 
</div>
<table>
    <tr>
        <th>Artist ID</th>
        <th>Artist Name</th>
    </tr>
    {{#each results}}
    <tr>
        <td>{{ArtistId}}</td>
        <td>{{Name}}</td>
    </tr>
    {{/each}}
</table>