<h1>New Artist Form</h1>

<p>Use this form to insert a new artist into the list. Enter a new number for the Artist ID and a new name under that.</p>

<form action="/artistsForm" method="POST">
    <div>
        <label for="ArtistId">Artist ID: </label>
        <input type="text" name="artistId">
    </div>
    <div>
        <label for="Name">Name: </label>
        <input type="text" name="name">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<p>Click <a href = '/albums'>here</a> to back to the Artists and Albums page</p>
<p>Click <a href = '/lengthForm'>here</a> to go to the Track Length Form page</p>
