<h1>{{title}}</h1>
<p>Welcome to the {{title}} where you will be able to view a database of selected artists and albums. You will also be albe to add a new artist, as well as sort the list of tracks based on what tracks are longer than what you enter. View the database <a href = '/albums'>here</a>.</p>
