<form action="/lengthForm" method="POST">
    <div>
        <label for="Minutes">Minutes: </label>
        <input type="text" name="mins">
    </div>
    <div>
        <label for="Seconds">Seconds: </label>
        <input type="text" name="secs">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>