<h1>Track Length Form</h1>

<p>Use this form to search for every track in the list that is over the specified time that is entered below.</p>

<form action="/lengthForm" method="POST">
    <div>
        <label for="Minutes">Minutes: </label>
        <input type="text" name="mins">
    </div>
    <div>
        <label for="Seconds">Seconds: </label>
        <input type="text" name="secs">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<p>Click <a href = '/albums'>here</a> to back to the Artists and Albums page</p>
<p>Click <a href = '/artistsForm'>here</a> to go to the New Artist Form page</p>